
.home{
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: url('../images/home-bg-img.png') no-repeat; */
	background-size: cover;
	background-position: center;

}

.home .image img{
	width: 40vw;
	animation: float 3s linear infinite;
}
.digital-marketr-section .image img{

}

@keyframes float {
	0%,100%{
		transform: translateY(0rem);
	}
	50%{
		transform: translateY(-3.5rem);
	}
}

.home .content h3{
	font-size: 5rem;
	color: #333;
	text-transform: uppercase;
}

.home .content h3 span{
	color: var(--pink);
	text-transform: uppercase;
}
.home .content p{
	font-size: 1.7rem;
	color: #666;
	padding: 1rem 0;
}

