

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 2rem 1rem;
}
.contact .info-box i {
  font-size: 3.8rem;
  line-height: 0;
  color: #4154f1;
}
.contact .info-box h3 {
  font-size: 2rem;
  color: #012970;
  font-weight: 700;
  margin: 2rem 0 1rem 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 2.4rem;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.contact .php-email-form {
  background: #fafbff;
  padding: 3rem;
  height: 100%;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 1.5rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2.4rem;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1rem -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 1.4rem;
  border-radius: 0;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #4154f1;
}
.contact .php-email-form input {
  padding: 1rem 1.5rem;
}
.contact .php-email-form textarea {
  padding: 1.2rem 1.5rem;
}
.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 1rem 3rem;
  color: #fff;
  transition: 0.4s;
  border-radius: .4rem;
}
.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}